<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.GameRewardLogMapper">

    <resultMap id="gameRewardLogMapper" type="com.tencent.wxcloudrun.model.GameRewardLog">
        <id property="id" column="id"/>
        <result property="mid" column="mid"/>
        <result property="gameGroup" column="game_group"/>
        <result property="rewardName" column="reward_name"/>
        <result property="rewardType" column="reward_type"/>
        <result property="icon" column="icon"/>
        <result property="createdAt" column="createdAt" javaType="java.time.LocalDateTime"/>
        <result property="updatedAt" column="updatedAt" javaType="java.time.LocalDateTime"/>
    </resultMap>

    <select id="getById" resultMap="gameRewardLogMapper" parameterType="java.lang.Integer">
        SELECT `id`, `mid`, `game_group`, `reward_name`, `reward_type`, `icon`, `createdAt`, `updatedAt`
        FROM game_reward_log
        WHERE id = #{id}
    </select>

    <select id="getByMid" resultMap="gameRewardLogMapper" parameterType="java.lang.Integer">
        SELECT `id`, `mid`, `game_group`, `reward_name`, `reward_type`, `icon`, `createdAt`, `updatedAt`
        FROM game_reward_log
        WHERE mid = #{mid}
        ORDER BY createdAt DESC
    </select>

    <select id="getByGameGroup" resultMap="gameRewardLogMapper" parameterType="java.lang.Integer">
        SELECT `id`, `mid`, `game_group`, `reward_name`, `reward_type`, `icon`, `createdAt`, `updatedAt`
        FROM game_reward_log
        WHERE game_group = #{gameGroup}
        ORDER BY createdAt DESC
    </select>

    <select id="getByMidAndGameGroup" resultMap="gameRewardLogMapper" parameterType="java.util.Map">
        SELECT `id`, `mid`, `game_group`, `reward_name`, `reward_type`, `icon`, `createdAt`, `updatedAt`
        FROM game_reward_log
        WHERE mid = #{mid} AND game_group = #{gameGroup}
        ORDER BY createdAt DESC
    </select>

    <select id="getByMidAndRewardType" resultMap="gameRewardLogMapper" parameterType="java.util.Map">
        SELECT `id`, `mid`, `game_group`, `reward_name`, `reward_type`, `icon`, `createdAt`, `updatedAt`
        FROM game_reward_log
        WHERE mid = #{mid} AND reward_type = #{rewardType}
        ORDER BY createdAt DESC
    </select>

    <insert id="insertOne" useGeneratedKeys="true" keyProperty="id" parameterType="com.tencent.wxcloudrun.model.GameRewardLog">
        INSERT INTO `game_reward_log`(`mid`, `game_group`, `reward_name`, `reward_type`, `icon`)
        VALUES(#{mid}, #{gameGroup}, #{rewardName}, #{rewardType}, #{icon})
    </insert>

</mapper> 