<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.MemberMapper">

    <resultMap id="memberMapper" type="com.tencent.wxcloudrun.model.Member">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="pointTotal" column="pointTotal"/>
        <result property="dakaDays" column="dakaDays"/>
        <result property="uid" column="uid"/>
        <result property="familyCode" column="familyCode"/>
        <result property="avatar" column="avatar"/>
        <result property="mode" column="mode"/>
        <result property="currentSeasonId" column="current_season_id"/>
        <result property="createdAt" column="createdAt" javaType="java.time.LocalDateTime" />
        <result property="updatedAt" column="updatedAt" javaType="java.time.LocalDateTime"  />
    </resultMap>

    <select id="getMemberById" resultMap="memberMapper" parameterType="java.lang.Integer">
        SELECT `id`, `name`, `gender`, `pointTotal`,`dakaDays`,`uid`,`familyCode`,`avatar`, `mode`, `current_season_id`, `createdAt`,`updatedAt`
        FROM members
        WHERE id = #{id}
    </select>

    <select id="getMembersByFamilyCode" resultMap="memberMapper" parameterType="java.lang.String">
        SELECT `id`, `name`, `gender`, `pointTotal`,`dakaDays`,`uid`,`familyCode`,`avatar`, `mode`, `current_season_id`, `createdAt`,`updatedAt`
        FROM members
        WHERE familyCode = #{familyCode}
    </select>

    <select id="getMembersByUid" resultType="com.tencent.wxcloudrun.model.Member" parameterType="java.lang.Integer">
        SELECT t1.`id`, `name`, `gender`, `pointTotal`,`dakaDays`,t1.`uid`,`familyCode`,`avatar`, `mode`, `current_season_id` as currentSeasonId, `createdAt`,`updatedAt`,`isRead`,`bindMid`, t2.`uid` as currentUid
        FROM members as t1,family as t2
        where t1.familyCode = t2.code and t2.uid = #{uId}
    </select>

    <select id="getCountMembersByUid" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT count(1) as c
        FROM member_relas
        WHERE uId = #{uId}
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE
        FROM members
        where id = #{id}
    </delete>

    <insert id="insertOne"  useGeneratedKeys="true" keyProperty="id" parameterType="com.tencent.wxcloudrun.model.Member">
        INSERT INTO `members`(`name`,`gender`,`pointTotal`,`uid`,`familyCode`) VALUE(#{name}, #{gender}, #{pointTotal},#{uid},#{familyCode})
    </insert>

    <update id="updateById" parameterType="com.tencent.wxcloudrun.model.Member">
        UPDATE members 
        SET name = #{name},
            gender = #{gender},
            avatar = #{avatar},
            mode = #{mode},
            current_season_id = #{currentSeasonId}
        WHERE id = #{id}
    </update>

    <delete id="deleteAllSeasion" parameterType="java.lang.Integer">
        DELETE FROM season_config WHERE mId = #{mId};
        DELETE FROM season_point_logs WHERE mId = #{mId};
        DELETE FROM season_rules WHERE mId = #{mId};
        DELETE FROM game_config WHERE seasonId  is not null;
        DELETE FROM game_reward_log WHERE mId = #{mId};
        delete from season_rule_achievement_logs WHERE mid = #{mId};
        DELETE FROM season_wishes where mId = #{mId};
        DELETE FROM season_wish_logs WHERE mId = #{mId};
        DELETE FROM season_rule_achievements WHERE mId = #{mId};
    </delete>

</mapper>
