<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.MemberRelasMapper">

    <resultMap id="memberRelaMapper" type="com.tencent.wxcloudrun.model.MemberRelas">
        <id property="id" column="id"/>
        <result property="mid" column="mid"/>
        <result property="uid" column="uid"/>
    </resultMap>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE
        FROM members
        where id = #{id}
        limit 1
    </delete>

    <insert id="insertOne"  useGeneratedKeys="true" keyProperty="id" parameterType="com.tencent.wxcloudrun.model.MemberRelas">
        INSERT INTO `member_relas`(`mid`,`uid`) VALUE(#{mid}, #{uid})
    </insert>

</mapper>
