<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.WishLogMapper">

    <resultMap id="wishMapper" type="com.tencent.wxcloudrun.model.WishLog">
        <id property="id" column="id"/>
        <result property="mid" column="mid"/>
        <result property="uid" column="uid"/>
        <result property="wid" column="wid"/>
        <result property="point" column="point"/>
        <result property="info" column="info"/>
        <result property="status" column="status"/>
        <result property="unitType" column="unitType"/>
        <result property="endTime" column="endTime" javaType="java.time.LocalDateTime"/>
        <result property="amount" column="amount"/>
        <result property="unit" column="unit"/>
        <result property="createdAt" column="createdAt" javaType="java.time.LocalDateTime" />
        <result property="updatedAt" column="updatedAt" javaType="java.time.LocalDateTime"  />
    </resultMap>

    <select id="getById" resultMap="wishMapper">
        SELECT * FROM wish_log WHERE id = #{id}
    </select>

<!--    <select id="getSumNumByMid" resultType="java.lang.Integer">-->
<!--        SELECT sum(point) FROM wish_log WHERE mid = #{mid} and status != -1-->
<!--    </select>-->

    <select id="getSumNumByMid" resultType="Integer">
        SELECT IFNULL(SUM(point),0) FROM wish_log WHERE mid = #{mid} AND status != -1
    </select>

    <select id="getByMid" resultType="java.util.Map">
        SELECT t1.id,t1.wid,t1.point,t1.status,t2.img,t2.title,t2.content,t2.needPoint,t2.unit,t2.unitType,date_format(t1.updatedAt, '%Y-%m-%d %H:%i:%s') as updatedAt
        FROM wish_log as t1 ,wish as t2
        WHERE t1.wid = t2.id and t2.mid = #{mid}
        ORDER BY t1.createdAt DESC
    </select>

    <select id="getByUid" resultMap="wishMapper">
        SELECT * FROM wish_log WHERE uid = #{uid} ORDER BY createdAt DESC
    </select>

    <select id="getByWid" resultMap="wishMapper">
        SELECT * FROM wish_log WHERE wid = #{wid} ORDER BY createdAt DESC
    </select>

    <insert id="insert" parameterType="com.tencent.wxcloudrun.model.WishLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO wish_log (mid, uid, wid, point,info,unitType,amount,unit)
        VALUES (#{mid}, #{uid}, #{wid}, #{point}, #{info}, #{unitType}, #{amount}, #{unit})
    </insert>

    <update id="update" parameterType="com.tencent.wxcloudrun.model.WishLog">
        UPDATE wish_log 
        SET status = #{status}
        <if test="endTime != null">, endTime = #{endTime}</if>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM wish_log WHERE id = #{id}
    </delete>

    <!-- 查询所有分钟类型的未完成任务 -->
    <select id="queryTimeTask" resultType="com.tencent.wxcloudrun.model.WishLog">
        SELECT * FROM wish_log 
        WHERE unitType = '分钟'
        AND status = 2
        AND endTime IS NOT NULL
        AND endTime BETWEEN NOW() AND DATE_ADD(NOW(), INTERVAL 1 MINUTE)
    </select>


    <select id="getAllLogByMidAndStatus" parameterType="java.lang.Integer" resultType="com.tencent.wxcloudrun.model.WishLog">
        SELECT * FROM wish_log WHERE mid = #{mid} AND status = #{status} ORDER BY createdAt DESC
    </select>

    <delete id="deleteByMid" parameterType="java.lang.Integer">
        DELETE FROM wish_log WHERE mid = #{mid}
    </delete>

</mapper>
