<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.WxuserMapper">

    <resultMap id="wxuserMapper" type="com.tencent.wxcloudrun.model.WxUser">
        <id property="id" column="id"/>
        <result property="openid" column="openid"/>
        <result property="role" column="role"/>
        <result property="name" column="name"/>
        <result property="familyCode" column="familyCode"/>
        <result property="soundEnabled" column="soundEnabled"/>
        <result property="soundEnabled" column="soundEnabled"/>
        <result property="vipExpiredAt" column="vipExpiredAt" javaType="java.time.LocalDateTime" />
        <result property="vipSignInAt" column="vipSignInAt" javaType="java.time.LocalDateTime" />
        <result property="createdAt" column="createdAt" javaType="java.time.LocalDateTime" />
        <result property="updatedAt" column="updatedAt" javaType="java.time.LocalDateTime"  />
    </resultMap>

    <select id="getUser" resultMap="wxuserMapper" parameterType="java.lang.String">
        SELECT `id`, `openid`, `role`, `name`,`familyCode`, `soundEnabled`,`animationEnabled`, `vipExpiredAt`, `createdAt`,`updatedAt` ,`vipSignInAt`
        FROM wx_users
        WHERE openid = #{openid}
    </select>

    <select id="getUserById" resultMap="wxuserMapper" parameterType="java.lang.Integer">
        SELECT `id`, `openid`, `role`, `name`,`familyCode`,`soundEnabled`,`animationEnabled`,`vipExpiredAt`,`createdAt`,`updatedAt` ,`vipSignInAt`
        FROM wx_users
        WHERE id = #{id}
    </select>

    <select id="getUsersByFamilyCode" resultType="com.tencent.wxcloudrun.model.WxUser" parameterType="java.lang.String">
        SELECT t1.`id`, `openid`, `role`, `name`,`familyCode`,`soundEnabled`,`animationEnabled`,`vipExpiredAt`,`createdAt`,`updatedAt` ,`vipSignInAt`,t2.`isRead`
        FROM wx_users as t1,family as t2
        WHERE t1.id = t2.uid and t2.code = #{familyCode}
    </select>

    <select id="getUserByFamilyCode"  resultMap="wxuserMapper" parameterType="java.lang.String">
        SELECT `id`, `openid`, `role`, `name`,`familyCode`,`soundEnabled`,`animationEnabled`,`vipExpiredAt`,`createdAt`,`updatedAt` ,`vipSignInAt`
        FROM wx_users
        WHERE familyCode = #{familyCode}
    </select>

    <select id="getWxCheckConfigs" resultType="com.tencent.wxcloudrun.model.WxCheckConfig" parameterType="java.lang.String">
        select  * from wx_check_config where version = #{version}
    </select>

    <delete id="clearCount" parameterType="java.lang.Integer">
        DELETE
        FROM Counters
        where id = #{id}
        limit 1
    </delete>

    <update id="upsertUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.tencent.wxcloudrun.model.WxUser">
        INSERT INTO `wx_users`(`openid`, `name`,`role`,`familyCode`,`channel`)
        VALUES( #{openid}, #{name}, #{role},#{familyCode},#{channel})
            ON DUPLICATE KEY UPDATE `name`=#{name}, `role` = #{role}
    </update>

    <update id="updateRoleUserById" parameterType="java.lang.Integer">
        UPDATE wx_users
        SET role = #{role}
        WHERE id = #{id}
    </update>

    <update id="updateAtUserById" parameterType="java.lang.Integer">
        UPDATE wx_users
        SET updatedAt = now()
        WHERE id = #{id}
    </update>

    <update id="updateUserSettings">
        UPDATE wx_users 
        SET <if test="soundEnabled != null">soundEnabled = #{soundEnabled},</if>
            <if test="animationEnabled != null">animationEnabled = #{animationEnabled},</if>
            updatedAt = NOW()
        WHERE id = #{id}
    </update>

    <update id="updateVipExpiredAt" parameterType="java.util.Map">
        UPDATE wx_users
        SET vipExpiredAt = #{vipExpiredAt},
            vipSignInAt = now()
        WHERE id = #{id}
    </update>
    <insert id="insertVipLog" parameterType="com.tencent.wxcloudrun.model.VipConvertLog">
        INSERT INTO vip_convert_log ( sourceOpenid, channel, targetOpenid)
        VALUES (#{sourceOpenid}, #{channel}, #{targetOpenid})
    </insert>

    <select id="getVipLog" resultType="com.tencent.wxcloudrun.model.VipConvertLog">
        SELECT * FROM vip_convert_log
        WHERE sourceOpenid = #{sourceOpenid}
        AND channel = #{channel}
        AND targetOpenid = #{targetOpenid}
    </select>

    <select id="getShareVipCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(1) FROM vip_convert_log
        WHERE targetOpenid = #{openid}
    </select>
</mapper>
